.about__container {
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin-top: 112px;
  margin-bottom: 122px;

  @include vp-1439 {
    margin-top: 81px;
    margin-bottom: 106px;
    gap: 58px;
  }

  @include vp-767 {
    margin-top: 63px;
    margin-bottom: 63px;
    gap: 40px;
  }
}

.about__text-container {
  display: flex;
  justify-content: space-between;
  max-width: 1134px;

  @include vp-1439 {
    flex-direction: column;
    gap: 29px;
  }
}

.about__main-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 477px;

  @include vp-1439 {
    max-width: 489px;
    gap: 25px;
  }

  @include vp-767 {
    max-width: 299px;
    gap: 13px;
  }

  h2 {
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    margin: 0;
    color: $color-default-blue;
    padding: 0;

    @include vp-1439 {
      font-size: 34px;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 20px;
      margin: 2px 0 0;
    }
  }

  p {
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;

    @include vp-1439 {
      font-size: 20px;
      line-height: 26px;
    }

    @include vp-767 {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
    }
  }
}

.about__secondary-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 33px;
  max-width: 498px;

  @include vp-1439 {
    max-width: 489px;
    gap: 23px;
  }

  @include vp-767 {
    max-width: 299px;
    gap: 13px;
  }

  h3 {
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: $color-default-blue;
    margin: 0;

    @include vp-1439 {
      font-size: 28px;
      line-height: 28px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 22px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 0;

    @include vp-1439 {
      font-size: 16px;
      line-height: 20px;
      margin: 0 0 12px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 11px;
    }
  }
}

.about__button {
  max-width: 277px;
  padding: 4px 4px 4px 28px;

  @include vp-767 {
    max-width: 221px;
    padding: 3px 4px 3px 18px;
    gap: 20px;
  }
}

.about__button:hover .about__svg-container,
.about__button:focus .about__svg-container,
.about__button:active .about__svg-container {
  background-color: $color-default-white;
}

.about__button:hover .about__svg-container svg,
.about__button:focus .about__svg-container svg,
.about__button:active .about__svg-container svg {
  transform: rotate(45deg);
  color: $color-default-blue;
}
