.form__container {
  margin-top: 120px;
  margin-bottom: 120px;
  position: relative;

  @include vp-1439 {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  @include vp-767 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  img {
    position: absolute;
    z-index: 1;
    top: 0;

    @include vp-1439 {
      width: 678px;
      height: 780px;
    }

    @include vp-767 {
      width: 320px;
      height: 753px;
      left: 0;
    }
  }

  h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 0 25px;

    @include vp-1439 {
      font-size: 28px;
      line-height: 28px;
      margin: 0 0 28px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 17px;
    }
  }

  p {
    font-size: 16px;
    line-height: 26px;
    opacity: 0.9;
    margin: 0 0 29px;
    max-width: 350px;

    @include vp-1439 {
      line-height: 20px;
      margin: 0 0 30px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 20px;
      margin: 0 0 26px;
    }
  }

  form {
    position: relative;
    max-width: 498px;
    padding: 82px 74px 41px;
    background-color: $color-default-blue;
    color: $color-default-white;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    z-index: 2;

    @include vp-1439 {
      padding: 60px 45px 58px;
      max-width: 442px;
    }

    @include vp-767 {
      padding: 51px 15px 50px;
      max-width: 290px;
    }
  }

  br {
    display: none;

    @include vp-767 {
      display: block;
    }
  }
}

.form__input-container {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @include vp-767 {
    gap: 21px;
  }
}

.form__input {
  label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    opacity: 0.8;
    gap: 8px;

    @include vp-1439 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
      gap: 11px;
    }
  }

  input {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    max-width: 350px;
    min-height: 50px;
    padding: 16px 0 16px 25px;
    color: $color-default-white;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid $color-default-white;
      outline: none;
    }

    &:disabled {
      background-color: rgba(255, 255, 255, 0.2);
      opacity: 0.4;
      border: 1px solid rgba(169, 175, 183, 0.5);
    }
  }

  textarea {
    width: 350px;
    min-height: 98px;
    padding: 16px 25px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    outline: none;
    color: $color-default-white;
    margin: 8px 0 3px;

    @include vp-1439 {
      margin: 5px 0 0;
    }

    @include vp-767 {
      min-height: 94px;
      width: 260px;
      margin: 9px 0 0;
    }

    &:hover,
    &:focus,
    &:active {
      border: 1px solid $color-default-white;
      outline: none;
    }

    &:disabled {
      background-color: rgba(255, 255, 255, 0.2);
      opacity: 0.4;
      border: 1px solid rgba(169, 175, 183, 0.5);
    }
  }
}

.form__input--textarea {
  input {
    min-height: 120px;
  }
}

.form__select-heading {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  opacity: 0.8;

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
    max-width: 200px;
  }
}

.form__select {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;

  @include vp-1439 {
    gap: 10px;
    max-width: 260px;
  }
}

.form__select-button {
  width: 350px;
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  @include vp-767 {
    width: 260px;
  }
}

.form__select-icon {
  background-color: $color-default-white;
  opacity: 1;
  width: 15px;
  height: 8px;
  margin-right: 9px;
}

.form__custom-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0 0 23px;
  max-width: 350px;

  @include vp-767 {
    max-width: 260px;
    line-height: 12px;
    margin: -3px 0 7px;
  }
}

.form__toggle-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  opacity: 0.9;

  @include vp-767 {
    font-size: 12px;
    line-height: 14px;
    max-width: 230px;
  }
}

.form__button {
  justify-content: space-between;
  padding: 2px 3px 3px 107px;
  width: 350px;

  &:hover,
  &:focus {
    background-color: $color-default-white;
    color: $color-default-blue;
  }

  &:active {
    background-color: $color-default-white;
    color: rgba(49, 109, 194, 0.7);
  }

  @include vp-767 {
    width: 260px;
    padding: 4px 3px 2px 74px;
    gap: 30px;
    justify-content: space-between;
  }
}

.form__svg-container--swiper-svg {
  width: 30px;
  height: 30px;
}

.form__button:hover .form__svg-container,
.form__button:focus .form__svg-container,
.form__button:active .form__svg-container {
  background-color: $color-default-blue;
}

.form__button:hover .form__svg-container svg,
.form__button:focus .form__svg-container svg,
.form__button:active .form__svg-container svg {
  transform: rotate(45deg);
  color: $color-default-white;
}

.form__input.is-invalid input {
  border: 1px solid #ff5e66;
  background: rgba(255, 94, 102, 0.2);
}

.form__input.is-invalid textarea {
  border: 1px solid #ff5e66;
  background: rgba(255, 94, 102, 0.2);
}
