.hero__swiper {
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}

.hero__slide {
  width: 100%;
  min-height: 800px;
  display: flex;
  position: relative;

  @include vp-1439 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
  }

  img {
    position: absolute;
    z-index: -1;
  }
}

.hero__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: $color-default-blue;
  padding: 0 0 60px 100px;
  max-width: 968px;

  @include vp-1439 {
    padding: 0 0 60px 45px;
  }

  @include vp-767 {
    padding: 0 0 19px 15px;
  }

  h2 {
    width: 968px;
    font-size: 54px;
    font-weight: 400;
    line-height: 62px;
    min-height: 124px;
    margin: 0;
    padding: 40px 50px 30px;
    background-color: $color-default-white;
    border-radius: 0 30px 30px 0;
    position: relative;

    @include vp-1439 {
      min-width: 550px;
      max-width: 659px;
      font-size: 36px;
      min-height: 142px;
      line-height: 44px;
      padding: 31px 40px 0;
      margin-bottom: 32px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 26px;
      min-width: 290px;
      min-height: 114px;
      max-width: 261px;
      padding: 20px 14px 16px;
      border-radius: 0 16px 16px 0;
      margin-bottom: 69px;
    }
  }

  p {
    color: $color-default-black;
    line-height: 26px;
    max-width: 505px;
    min-height: 99px;
    margin: 0;
    background-color: $color-default-white;
    padding: 0 0 21px 50px;
    border-radius: 0 0 0 30px;
    margin-top: -14px;

    @include vp-1439 {
      font-size: 16px;
      line-height: 20px;
      max-width: 400px;
      padding: 0 0 30px 40px;
      min-height: 108px;
      margin-top: -36px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 20px;
      max-width: 267px;
      min-height: 110px;
      padding: 0 15px;
      border-radius: 0 0 14px;
      margin-top: -74px;
    }
  }

  img {
    position: absolute;

    @include vp-767 {
      right: 13px;
      width: 10px;
      height: 10px;
      bottom: -10px;
    }
  }
}

.hero__content-wrapper--secondary-slide {
  h2 {
    @include vp-767 {
      padding: 25px 14px 8px;
      margin-bottom: 53px;
    }
  }

  p {
    @include vp-767 {
      min-height: 90px;
      margin-top: -53px;
    }
  }

  img {
    @include vp-767 {
      top: 396px;
    }
  }
}

.hero__button {
  padding: 4px 4px 4px 30px;

  @include vp-1439 {
    padding: 3px 4px 3px 28px;
  }

  @include vp-767 {
    max-width: 152px;
    padding: 4px 4px 4px 18px;
    gap: 21px;
  }
}

.hero__button:hover .hero__svg-container,
.hero__button:focus .hero__svg-container,
.hero__button:active .hero__svg-container {
  background-color: $color-default-white;
}

.hero__button:hover .hero__svg-container svg,
.hero__button:focus .hero__svg-container svg,
.hero__button:active .hero__svg-container svg {
  transform: rotate(45deg);
  color: $color-default-blue;
}

.hero__button-container {
  display: flex;
  align-items: center;
  background-color: $color-default-white;
  position: relative;
  padding: 4px 50px 39px 32px;
  border-radius: 0 0 30px;

  @include vp-1439 {
    padding: 0 40px 35px 42px;
    margin-top: -32px;
  }

  @include vp-767 {
    padding: 9px 15px;
    border-radius: 0 0 14px 14px;
    margin: 0;
  }

  img {
    position: absolute;
    right: -26px;
    top: 0;

    @include vp-1439 {
      right: -26px;
    }

    @include vp-767 {
      right: -9px;
      width: 10px;
      height: 10px;
      top: -1px;
    }
  }
}

.hero__pagination-wrapper {
  position: relative;
  max-width: 94px;
  height: 38px;

  @include vp-767 {
    max-width: 80px;
    height: 28px;
  }

  img {
    position: absolute;
    bottom: 0;
    right: -20px;

    @include vp-767 {
      top: 18px;
      right: -9px;
    }
  }
}

.swiper-pagination.hero__pagination {
  max-width: 94px;
  height: 38px;
  position: relative;
  display: flex;
  background-color: $color-default-white;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: 20px 20px 0 0;
  bottom: unset;

  @include vp-767 {
    border-radius: 12px 12px 0 0;
    max-width: 80px;
    height: 28px;
    gap: 0;
  }
}

.hero__pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: flex;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid $color-default-blue;
  opacity: 0.8;
  margin: 0;
  cursor: pointer;
  position: relative;
  z-index: 99;

  @include vp-767 {
    width: 8px;
    height: 8px;
  }
}

.hero__pagination .swiper-pagination-bullet::before {
  @include vp-767 {
    content: "";
    position: absolute;
    top: -25px;
    right: -15px;
    bottom: -25px;
    left: -15px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid transparent;
    opacity: 0.8;
  }
}

.hero__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: $color-default-blue;
}

.hero__content-container {
  display: flex;
  max-width: 772px;
  min-height: 99px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: $color-default-white;
  border-radius: 0 0 30px 30px;

  @include vp-1439 {
    max-width: 591px;
    align-items: flex-start;
    padding: 0 0 1px;
  }

  @include vp-767 {
    flex-direction: column;
    max-width: 267px;
    border-radius: 0 0 12px 12px;
    background-color: transparent;
  }
}

.hero__line-breaker-1 {
  display: none;

  @include vp-1439 {
    display: block;
  }
}

.hero__line-breaker-2 {
  display: none;

  @include vp-1439 {
    display: block;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__line-breaker-mobile {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.hero__angle-mobile {
  display: none;

  width: 10px;
  height: 10px;
  right: 0;
  bottom: 0;

  @include vp-767 {
    position: absolute;
    display: block;
  }
}
