.modal {
  position: fixed;
  top: -62px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transform: scale(1.1);
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1),
    transform 0.6s cubic-bezier(0.55, 0, 0.1, 1),
    visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  pointer-events: none;
  scrollbar-width: none;

  @include vp-767 {
    top: -225px;
    left: -11px;
  }

  &--preload {
    transition: none;
  }
}

.modal.is-active {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
  transition:
    opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1),
    transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  pointer-events: auto;
}

.modal__wrapper {
  transform: translateZ(0);
  background-color: rgba(#000000, 0.6);
  position: relative;

  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 60px 40px;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(13, 29, 51, 0.4);
  width: 100%;
  height: 100%;

  cursor: pointer;
}

.modal__content {
  position: relative;
  max-width: 510px;
  min-height: 611px;
  padding: 53px 80px 30px;
  background-color: $color-default-white;
  border-radius: 16px;

  @include vp-1439 {
    margin-top: 207px;
    max-width: 510px;
    min-height: 602px;
  }

  @include vp-767 {
    max-width: 290px;
    min-height: 521px;
    margin: 0;
    padding: 35px 15px 20px;
  }

  h2 {
    color: $color-default-blue;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    margin: 0 0 7px;
    text-align: center;

    @include vp-1439 {
      font-size: 28px;
      line-height: 28px;
      margin: 0 0 14px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 22px;
      margin: 0 0 6px;
    }
  }

  p {
    font-size: 16px;
    line-height: 26px;
    opacity: 0.9;
    margin: 0 0 19px;
    max-width: 350px;
    text-align: center;

    @include vp-1439 {
      line-height: 20px;
      margin: 0 0 20px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 20px;
      margin: 0 auto 22px;
      max-width: 221px;
    }
  }

  br {
    display: none;

    @include vp-767 {
      display: block;
    }
  }
}

.modal__input-container {
  display: flex;
  flex-direction: column;
  gap: 17px;

  @include vp-1439 {
    gap: 16px;
  }

  @include vp-767 {
    gap: 15px;
  }
}

.modal__input {
  label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: rgba(72, 72, 72, 0.8);
    gap: 8px;

    @include vp-1439 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 14px;
      gap: 6px;
    }
  }

  input {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid rgba(72, 72, 72, 0.3);
    max-width: 350px;
    min-height: 50px;
    padding: 16px 0 11px 25px;
    color: $color-default-black;
    opacity: 1;

    @include vp-767 {
      min-height: 44px;
    }

    &:hover,
    &:focus,
    &:active {
      border: 1px solid $color-default-black;
      outline: none;
    }

    &:disabled {
      background-color: rgba(255, 255, 255, 0.2);
      opacity: 0.4;
      border: 1px solid rgba(169, 175, 183, 0.5);
    }
  }
}

.modal__select-button {
  border: 1px solid rgba(72, 72, 72, 0.3);
  width: 350px;
  height: 50px;

  @include vp-767 {
    width: 260px;
    height: 44px;
  }

  &:hover,
  &:focus {
    border: 1px solid $color-default-black;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.3;
  }
}

.modal__custom-toggle {
  max-width: 342px;
  font-size: 12px;
  line-height: 12px;
  opacity: 0.9;
  padding: 0;
  margin: 6px 0 16px;

  @include vp-1439 {
    margin: 8px 0 18px;
  }

  @include vp-767 {
    margin: 2px 0 8px;
    line-height: 14px;
  }
}

.modal__select-heading {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  opacity: 0.8;
}

.modal__select {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;

  @include vp-1439 {
    gap: 10px;
  }

  @include vp-767 {
    gap: 8px;
  }
}

.modal__select-icon {
  background-color: $color-default-black;
  opacity: 1;
  width: 15px;
  height: 8px;
  margin-right: 9px;
}

.modal .custom-toggle--checkbox .custom-toggle__icon {
  top: -4px;
  border: 1px solid rgba(72, 72, 72, 0.3);

  @include vp-767 {
    top: 2px;
  }

  &:hover,
  &:focus {
    border: 1px solid $color-default-black;
  }
}

.modal__button-container {
  margin: 0 auto;
}

.modal__button {
  justify-content: space-between;
  padding: 3px 3px 3px 29px;
  width: 194px;

  @include vp-767 {
    width: 260px;
    padding: 4px 3px 2px 74px;
    gap: 30px;
    justify-content: space-between;
  }
}

.modal__svg-container--swiper-svg {
  width: 30px;
  height: 30px;
}

.modal__button:hover .modal__svg-container,
.modal__button:focus .modal__svg-container,
.modal__button:active .form__svg-container {
  background-color: $color-default-white;
}

.modal__button:hover .modal__svg-container svg,
.modal__button:focus .modal__svg-container svg,
.modal__button:active .modal__svg-container svg {
  transform: rotate(45deg);
  color: $color-default-blue;
}

.modal__select-item {
  &:hover {
    color: $color-default-blue;
  }

  &:focus,
  &:active {
    color: $color-default-white;
  }
}

.modal__select-text {
  color: $color-default-black;
}

.modal__close-btn {
  position: absolute;
  top: 18px;
  right: 18px;
  padding: 0;
  background: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;

  @include vp-767 {
    top: 8px;
    right: 8px;
    width: 39px;
    height: 39px;
  }
}

.modal__input.is-invalid input {
  border: 1px solid #ff5e66;
  background: rgba(255, 94, 102, 0.2);
}
