.nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 1240px;
  transition: transform 1s ease;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 51;

  @include vp-1439 {
    width: 678px;
  }

  @include vp-767 {
    width: 290px;
    top: 20px;
  }

  &--is-hidden {
    transform: translateY(-1250%) translateX(-50%);
  }

  &--is-opened {
    transform: translateY(0) translateX(-50%);
  }
}

.nav__list {
  margin: 0;
  height: 0;
  list-style-type: none;
  width: 0;

  &--is-closed {
    opacity: 0;
    height: 0;
    transition: opacity 1s ease;
  }

  &--is-opened {
    width: 286px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 35px 25px;
    background-color: $color-default-blue;
    border-radius: 16px;
    position: absolute;
    right: 0;
    top: 58px;
    opacity: 1;
    height: auto;
    transition: opacity 1s ease;
    z-index: 100;
  }
}

.nav__list--is-closed .nav__item {
  display: none;
}

.nav__list--is-opened .nav__item {
  display: block;
}

.nav__link {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;

  &--is-closed {
    display: none;
    color: $color-default-white;
  }

  &:hover,
  &:focus {
    color: $color-default-white;
  }
}

.nav__link--is-opened {
  svg {
    transform: rotate(180deg);
  }
}

.nav__logo {
  display: block;
  flex-shrink: 0;
  z-index: 50;
  position: relative;

  &--is-opened {
    @include vp-767 {
      display: none;
    }
  }
}

.nav__sub-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  flex-wrap: wrap;
  max-width: 236px;

  &--is-closed {
    opacity: 0;
    height: 0;
    padding: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
  }

  &--is-opened {
    height: auto;
    opacity: 1;
    padding: 20px 0 0 16px;
    transition: opacity 1s ease;
    pointer-events: all;
  }
}

.nav__sub-item {
  max-width: 220px;
}

.nav__sub-link {
  display: block;
  color: $color-default-white;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.32px;
  cursor: pointer;
  width: 100%;
  max-width: 220px;
  opacity: 0.6;

  &--is-opened {
    display: block;
    min-height: 12px;
    transition: opacity 1s ease;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.nav__burger-menu {
  &--is-closed {
    width: 134px;
    min-height: 54px;
    display: flex;
    gap: 20px;
    background-color: $color-default-white;
    border: 1px solid $color-default-blue;
    border-radius: 30px;
    align-items: center;
    padding: 4px 4px 4px 20px;
    cursor: pointer;
    justify-content: space-between;
    transition:
      width 1s ease,
      background-color 1s ease,
      color 1s ease,
      padding 1s ease;
  }

  @include vp-1439 {
    padding: 4px 4px 2px 20px;
  }

  &--is-opened {
    background-color: $color-default-blue;
    width: 286px;
    transition:
      width 1s ease,
      background-color 1s ease,
      color 1s ease,
      padding 1s ease;
  }
}

.nav__burger-menu-text {
  &--is-closed {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    color: $color-default-blue;
  }

  &--is-opened {
    color: $color-default-white;
  }
}

.nav__burger-menu img:last-child {
  display: none;
}

.nav--is-closed .nav__sub-link {
  opacity: 0;
}

.nav--is-opened .nav__logo {
  opacity: 0.4;
}
