.news__container {
  margin-top: 128px;
  margin-bottom: 124px;
  position: relative;

  @include vp-1439 {
    margin-top: 98px;
    margin-bottom: 98px;
  }

  @include vp-767 {
    margin-top: 59px;
    margin-bottom: 58px;
    overflow: hidden;
  }
}

.news__header-container {
  display: flex;
  flex-direction: column;
  gap: 46px;
  align-items: center;
  margin: 0 0 40px;

  @include vp-1439 {
    gap: 32px;
    margin: 0 0 30px;
  }

  @include vp-767 {
    gap: 27px;
    margin: 0 0 24px;
  }

  h2 {
    color: $color-default-blue;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    margin: 4px 0 0;

    @include vp-1439 {
      font-size: 34px;
      line-height: 50px;
      margin: -1px 0 0;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 20px;
      margin: 0;
      padding: 2px 0 0;
    }
  }
}

.news__list {
  max-width: 810px;
  display: flex;
  gap: 32px;
  list-style-type: none;
  min-height: 38px;
  margin: 0;
  padding: 0;

  @include vp-1439 {
    max-width: 670px;
    gap: 10px;
  }

  @include vp-767 {
    gap: 12px;
    max-width: 557px;
    min-height: 29px;
    padding-left: 133px;
    overflow-x: auto;
  }
}

.news__item {
  color: $color-default-blue;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  opacity: 0.6;
  padding: 11px 25px;
  cursor: pointer;
  align-items: center;

  @include vp-1439 {
    padding: 10px 20px;
  }

  @include vp-767 {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
    padding: 9px 13px 6px 14px;
  }

  &--current {
    border: 1px solid $color-default-blue;
    border-radius: 20px;
    opacity: 1;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.news__swiper {
  padding: 0 0 72px;

  @include vp-1439 {
    padding: 0 0 61px;
  }

  @include vp-767 {
    padding: 0 0 50px;
  }
}

.news__swiper-wrapper {
  @include vp-1439 {
    max-height: 730px;
  }

  @include vp-767 {
    max-height: 590px;
  }
}

.news__slide {
  position: relative;
  width: 286px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 12px;

  @include vp-1439 {
    min-width: 324px;
    max-width: 324px;
    height: 350px;
  }

  @include vp-767 {
    min-width: 290px;
    max-width: 290px;
    min-height: 240px;
    max-height: 240px;
  }

  &--primary-slide {
    width: 604px;

    @include vp-1439 {
      width: 324px;
    }

    @include vp-767 {
      min-height: 330px;
      max-height: 330px;
    }
  }

  img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
}

.news__text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  max-width: 256px;
  color: $color-default-blue;
  position: relative;
  border-radius: 0 12px 0 0;

  @include vp-1439 {
    max-width: 240px;
    min-height: 350px;
  }

  @include vp-767 {
    min-height: 240px;
    max-width: 262px;
  }

  h3 {
    margin: 0;
    background-color: $color-default-beige;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    padding: 5px 11px 0 0;
    max-width: 214px;
    border-radius: 0 12px 0 0;
    position: relative;

    @include vp-1439 {
      font-size: 20px;
      line-height: 24px;
      max-width: 207px;
      padding: 6px 11px 0 0;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 18px;
      max-width: 199px;
      padding: 10px 11px 4px 0;
    }
  }

  p {
    margin: 0;
    color: $color-default-black;
    font-size: 14px;
    line-height: 18px;
    max-width: 189px;

    @include vp-1439 {
      font-size: 14px;
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.news__description-angle {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 0;
  bottom: 0;

  @include vp-1439 {
    right: -15px;
  }

  &--main-slide {
    right: -15px;
    bottom: 0;
  }
}

.news__text-container--primary-slide {
  max-width: 389px;

  @include vp-1439 {
    max-width: 240px;
  }

  @include vp-767 {
    max-width: 262px;
    min-height: 330px;
  }

  h3 {
    max-width: 291px;
    padding: 13px 18px 2px 0;

    @include vp-1439 {
      max-width: 207px;
      padding: 4px 18px 2px 0;
    }

    @include vp-767 {
      padding: 10px 16px 4px 0;
      max-width: 199px;
    }
  }

  p {
    max-width: 341px;

    @include vp-1439 {
      max-width: 176px;
    }

    @include vp-767 {
      max-width: 197px;
    }
  }
}

.news__date {
  background-color: $color-default-beige;
  padding: 11px 12px 4px 0;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
  max-width: 78px;
  border-radius: 0 12px 0 0;
  position: relative;

  &--second-slide {
    max-width: 79px;
  }

  &--third-slide {
    max-width: 75px;
  }

  &--forth-slide {
    max-width: 76px;
  }

  img {
    position: absolute;
    right: -16px;
    bottom: 0;
  }
}

.news__date-angle-1 {
  position: absolute;
  width: 16px;
  height: 16px;
  left: -17px;
  top: -16px;
}

.news__date-angle-2 {
  width: 16px;
  height: 16px;
  left: 61px;
  bottom: 0;
  position: absolute;

  &--third-slide {
    left: 58px;
  }

  &--forth-slide {
    left: 59px;
  }
}

.news__header-angle {
  position: absolute;
  right: -15px;
  bottom: 0;
  width: 16px;
  height: 16px;
}

.news__content-wrapper {
  display: flex;
  align-items: center;
  background-color: $color-default-beige;
  border-radius: 0 12px 0 0;
  padding: 9px 21px 12px 0;
  justify-content: space-between;
  max-width: 240px;

  &--primary-slide {
    max-width: 389px;
    padding: 9px 21px 12px 0;

    @include vp-767 {
      padding: 13px 15px 9px 0;
    }
  }

  @include vp-1439 {
    padding: 6px 21px 12px 0;
  }

  @include vp-767 {
    max-width: 265px;
    padding: 13px 14px 9px 0;
  }
}

.news__button {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 0;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  transition: background-color 0.5s, color 0.5s;
  font-size: 0;
  border: none;

  position: relative;
  background-color: transparent;

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    outline: none;
    color: #a9afb7;
    background-color: transparent;
    border: 1px solid #a9afb7;
  }

  img {
    position: absolute;
    right: 69px;
    top: -15px;
  }
}

.news__button:hover .news__svg-container,
.news__button:focus .news__svg-container,
.news__button:active .news__svg-container {
  background-color: $color-default-white;
}

.news__button:hover .news__svg-container svg,
.news__button:focus .news__svg-container svg,
.news__button:active .news__svg-container svg {
  transform: rotate(45deg);
  color: $color-default-blue;
}

.news__swiper-button-wrapper {
  position: absolute;
  display: flex;
  gap: 10px;
  bottom: 6px;
  right: 0;
  width: 100%;
  min-height: 22px;
}

.news__svg-container--swiper-svg {
  width: 30px;
  height: 30px;
}

.news__button-prev,
.news__button-next {
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: unset;
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  padding: 0;
  margin-top: unset;
  top: unset;

  &::after {
    font-family: unset;
    font-size: 0;
  }

  svg {
    flex-shrink: 0;
  }
}

.news__button-prev:hover,
.news__button-next:hover,
.news__button-prev:focus,
.news__button-next:focus,
.news__button-prev:active,
.news__button-next:active {
  svg {
    background-color: $color-default-white;
    color: $color-default-blue;
    border-radius: 30px;
  }
}

.news__button-prev:disabled,
.news__button-next:disabled {
  svg {
    background-color: transparent;
    color: #a9afb7;
    cursor: not-allowed;
    pointer-events: none;
    outline: none;
  }
}

.news__button-prev {
  left: 0;
}

.news__button-next {
  transform: rotate(180deg);
  right: 0;
}

.swiper-pagination.news__pagination {
  max-width: 188px;
  min-height: 32px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 12px;
  bottom: 0;
  left: 522px;
  z-index: 20;
  cursor: pointer;

  @include vp-1439 {
    left: 241px;
  }

  @include vp-767 {
    left: 65px;
    gap: 8px;
  }
}

.news__pagination .swiper-pagination-bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: rgba(49, 109, 194, 0.5);
  opacity: 1;
  background-color: transparent;
  flex-shrink: 0;

  @include vp-767 {
    width: 26px;
    height: 26px;
  }

  &:hover,
  &:focus-visible {
    border: 1px solid $color-default-blue;
    color: $color-default-blue;
    background-color: transparent;
    outline: none;
  }

  &:active {
    background-color: #275699;
    color: $color-default-white;
  }
}

.news__pagination .swiper-pagination-bullet-active {
  color: $color-default-white;
  background-color: $color-default-blue;
}

.news__line-breaker-1,
.news__line-breaker-2 {
  display: none;

  @include vp-1439 {
    display: block;
  }

  @include vp-767 {
    display: none;
  }
}

.news__line-breaker-3 {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.news__line-breaker-4 {
  @include vp-767 {
    display: none;
  }
}

.news__header-breaker {
  @include vp-767 {
    display: none;
  }
}
