.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: calc(100 * var(--vh, 1vh));

  .header,
  .footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.scroll-lock {
  position: fixed;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 29, 51, 0.4);
  display: none;
  z-index: 50;
}

.button {
  display: flex;
  align-items: center;
  gap: 30px;
  border: 1px solid $color-default-blue;
  border-radius: 30px;
  min-height: 54px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  transition: background-color 0.5s, color 0.5s;
  color: $color-default-blue;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: $color-default-blue;
    color: $color-default-white;
  }

  &:active {
    background-color: $color-default-blue;
    color: rgba(255, 255, 255, 0.7);
  }

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    outline: none;
    color: #a9afb7;
    background-color: transparent;
    border: 1px solid #a9afb7;
  }

  @include vp-767 {
    min-height: 42px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.24px;
  }

  &--blue-background {
    border: 1px solid $color-default-white;
    color: $color-default-white;
    background-color: $color-default-blue;
  }
}

.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: $color-default-blue;
  transition: background-color 0.5s;
  flex-shrink: 0;

  svg {
    flex-shrink: 0;
    color: $color-default-white;
  }

  &:disabled {
    background-color: #a9afb7;
  }

  @include vp-767 {
    width: 34px;
    height: 34px;
    border-radius: 50%;
  }
}

.svg-container--white-circle {
  background-color: $color-default-white;

  svg {
    color: $color-default-blue;
  }
}
