$color-default-black: #484848;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);
$color-default-blue: #316dc2;
$color-default-beige: #f0efe9;
$fz-default: 16px;
$ff-placeholder: "Manrope", "Arial", sans-serif;

// Viewports
// ---------------------------------

$vp-768: 768px;
$vp-1440: 1440px;
